.skills {
}

h3 {
  text-align: center;
}

.skills__container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}

.skills__container > div {
  width: 120px;
}
.skill {
  margin: 20px 0;
  display: flex;
}
.skill > i {
  color: #42a5f5;
  margin-right: 6px;
  margin-top: 4px;
}

.rr > .skill_name {
  font-weight: bold;
}

.rr > .level {
  color: rgba(34, 34, 34, 0.738);
}
